<div id="stats" ng-if="main.statsView.visible">
	<div class="stat" ng-repeat="(statName, stat) in main.statsView.stats">
		<span class="text">{{stat.text}}</span>
		<span class="num" ng-if="stat.num >= 0">{{stat.num}}</span>
		<span class="bar" ng-if="stat.bar >= 0">{{stat.bar}}</span>
		<span class="up" ng-if="stat.up">+</span>
		<span class="down" ng-if="stat.down">-</span>
	</div>
</div>
<div id="mainText" ng-bind-html="main.mainText"></div>
<select ng-if="main.aCb.visible" ng-model="main.aCb.value" ng-options="option.perk as option.label for option in main.aCb.dataProvider track by option.label">
	<option value="">Choose a perk</option>
</select>
<span ng-repeat="(btnName, btn) in main.menuButtons">
	<button ng-click="btn.callback()" title="{{btn.toolTipText}}" ng-if="btn.visible">{{btn.labelText}}</button>
</span>
<span ng-repeat="btn in main.bottomButtons">
	<button ng-click="btn.callback()" title="{{btn.toolTipText}}" ng-if="btn.visible">{{btn.labelText}}</button>
</span>
<img src="images/sprites/{{main.sprite.index}}" ng-if="main.sprite.visible">
<input ng-if="main.nameBox.visible" ng-model="main.nameBox.value">